@import "tailwindcss";

:root {
  --background: #0F1115;
  --foreground: #171717;
  --sidebarbg: #0F1115;
  --highlight: #00E5FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebarbg: var(--sidebarbg);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --gradient-slow: gradient-move 6s ease infinite;

  @keyframes gradient-move {
    0% {
      background-position: '0% 50%';
    }


    50% {
      background-position: '100% 50%';
    }


    100% {
      background-position: '0% 50%';
    }
  }


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--sidebarbg);

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}